# Mac OS X
*.DS_Store
/pkg/*
/pkg/*/
*.a
bin/gateway.exe
bin/linux_amd64/pillx-gateway
bin/linux_amd64/websocket-gateway
bin/Build main.exe
bin/pillx-gateway.exe
bin/pillx-worker.exe
bin/websocket-gateway.exe
src/runtime/test/test.exe
